<div class="container body-content">
    <div class="row">
        <div class="col-md-6">
            <p>Name: {{user.fullName}}</p>
            <p>Email: {{user.email}}</p>
        </div>
    </div>
</div>
